body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.heatmap{
	margin-bottom:50px;
}
.heatmap .row{
	display: grid;
	grid-template-columns: repeat(7, 52px);
	grid-template-rows: 7px;
	grid-gap: 5px;
}
.heatmap .bloc{
	width: 50px;
	height: 5px;
    border-radius: 5px;
    border: 2px solid #908a8ab5;
}
.heatmap .row-label{
	text-decoration:strong; 
	text-align:center; 
}
